/***** BASE CSS *****/
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lexend Deca:800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

@import "compass/css3";

@keyframes fade-up-left {
  0% {
    opacity: 0;
    transform: translateX(75px);
  }

  30% {
    opacity: 0;
    transform: translateX(75px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up-up {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }

  30% {
    opacity: 0;
    transform: translateY(75px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
/* Site Name */

#divSiteTitle {text-decoration:none;}
#divTagLine {text-decoration:none;}


/* Headline Text */
#divHeaderLine2, #divHeaderLine3 {
    display:inline-block !important
}

/* Headings */
h3, h4, h5, h6 {
    line-height:1.5 !important
}
.lead {
    text-align:left;
}
.lead h2 {
    font-size: 25px;
    line-height:45px;
}

.lead h3 {
}

.lead h3 a {
    font-size: inherit;
}

/* Table */
th, td {
    margin: 5px 10px;
}

table {
    border-spacing: 5px;
    table-layout: fixed;
}

/* Contact */

ul#contact-info .icon {font-size:20px;float:left;line-height:25px;margin-right:10px;}

ul#contact-info .field {font-weight:bold;}

ul#contact-info {list-style:none;}


/* Grid */

#tiles li {
width:240px !important;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 10px !important;
margin-right:7px;margin-bottom:7px;float:left;
}

#tiles li img {margin-bottom:10px;}

#tiles li div.meta {color:#999;text-transform:uppercase;font-size:10px;margin:0;}

#tiles li h4 {line-height:1.5;margin:0 0 5px 0;}

#tiles li h4 a {
    line-height:inherit;
    margin: 0;
    text-decoration:inherit;
    color:inherit;
    font-size:inherit;
    font-family: 'Muli', sans-serif;
    font-weight:inherit;
    font-style:inherit;
}

#tiles li p {font-size:12px;line-height:1.5;margin:0;}

#tiles li a {font-size:12px;}

#tiles li .more_link {font-size:smaller;line-height:2;text-transform:uppercase;letter-spacing:2px;white-space:nowrap;display:block;margin: 5px 0 0 0;}

#tiles li blockquote {
    line-height:1.5;
    margin:0;
    padding:0;
    color:#999;
    border:none;
    font-size:150%;
    font-style:italic;
    font-family:Georgia, Times, serif;
}

#tiles li blockquote small {
    font-size:11px;
    font-style:normal;}


/* Icons */

[class*="social foundicon-"]:before {font-family: "SocialFoundicons";}

[class*="general foundicon-"]:before {font-family: "GeneralFoundicons";}

        
/* Menu Side */

.menu_menu_simple ul {margin-top:0;margin-bottom:0;}

.menu_menu_simple ul li {margin-top:0;margin-bottom:0;}


/* Header Area */

#decorative1 {
margin-top:-2px;padding-top:2px;
}


/* Menu Centered */

.centered_menu {text-align:center}
.centered_menu > div {display:inline-block;}
.centered_menu div {text-align:left}


/* Footer elements */

.social-bookmarks a {
    
}

.copyright {
    font-size:smaller;
    letter-spacing:1px;
}


/* Responsive Image */

img {
    max-width:100%;
    height:auto;
    width: auto;
    margin-left: 10px;
    box-sizing:border-box;
}

.cphoto {
    max-width: 340px !important;
    width: 340px;
    padding: 16px !important;
    box-shadow: -1px 7px 20px #dddddd;
    margin: 0px;
    text-align: center;
    margin-left: 0;
    border: 0px;
    max-height: 250px !important;
    height: 250px;
    border-radius: 40px;
}

#list_photos {
    width: 344px;
}

.caption {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-align: center;
    max-width: 330px;
    margin-top: 15px;
}

/* Additional */
    
#divBoxed {position:relative}
 
.nav-links > a {margin-right:20px;}

.btn-secondary, .btn-secondary:hover {text-shadow:none;}

#divHeaderLine1 a, #divHeaderLine2 a, #divHeaderLine3 a {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-shadow: inherit;
    font-weight: inherit;
    font-style: inherit;
}

#divHeaderLine1, #divHeaderLine2, #divHeaderLine3 {
    padding-top:3px !important;
    padding-bottom:3px !important;
    text-align:inherit;
}

.showcase-tabs > li > a {
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.cap1 div, .cap2 div, .cap3 div, .cap4 div, .cap5 div {
    margin: 0 -1px;
}

.camera_wrap .camera_pag .camera_pag_ul li {margin:20px 5px 0 !important;
}


/* Adjustments */

.search.adjust {margin-bottom:15px}
      
.divPanel {}

.divPanel.notop {padding-top:0}

.divPanel.nobottom {padding-bottom:0}


/***** BOOTSTRAP CSS BASE OVERRIDE *****/

.navbar .nav-pills > li > a {text-shadow:none;font-weight:normal;}

.navbar .dropdown-menu li > a {text-shadow:none;font-weight:normal;}

.navbar .nav-pills > li > .dropdown-menu:before {border:none;}

.navbar .nav-pills > li > .dropdown-menu:after {border:none;}

.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills > .active > a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .nav-pills > li > a:hover, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle {-webkit-transition: ease-in-out .2s;-moz-transition: ease-in-out .2s;-o-transition: ease-in-out .2s;-ms-transition: ease-in-out .2s; transition: ease-in-out .2s;}

.navbar .nav-pills .open .dropdown-toggle {background-color:transparent;}

.btn .caret {margin-top: 8px !important;}



body{background-image: none; background-position: initial initial; background-repeat: initial initial; }

#divLogo{margin-top: 9px; margin-bottom: 0; margin-left: -3px;}

#divSiteTitle{
    font-family: 'Muli', sans-serif; 
    color: #ffffff; font-size: 28px; 
    text-shadow: rgba(0, 0, 0, 0.2) 2px 5px 9px, rgba(255, 255, 255, 0.298039) 0 -5px 35px; 
    line-height: 42px; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    font-weight: normal; 
    font-style: normal; 
    padding-left: 0; 
    padding-right: 0;}

#divTagLine {
    font-family: 'lars', sans-serif; 
    font-size: 12px; 
    text-transform: uppercase; 
    letter-spacing: 5px; 
    line-height: 22px; 
    color: rgb(255, 255, 255); 
    text-shadow: none; 
    padding-left: 3px; 
    padding-right: 3px; 
    font-weight: normal; 
    font-style: normal;}

.navContainer {
    margin-top: 0; 
}

.navContainer .navMenu {
    
}

.navContainer .navMenu li {
    background-color: rgb(245, 245, 245); 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
}

.navContainer .navMenu li a {}

.navContainer .navMenu li.current {
    background-color: rgb(174, 0, 0); 
}

.navContainer .navMenu li.current a {}

.camera_caption > div {
    opacity: 0.85;
    filter:alpha(opacity=85);
    opacity: 0.85;
    filter:alpha(opacity=85);
}

.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
    opacity: 0.85;
    filter:alpha(opacity=85);
    opacity: 0.85;
    filter:alpha(opacity=85);
}

.camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li:hover > span {box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent >  {}

.camera_wrap {
    display: block; 
    margin-bottom: 15px; 
    height: 410px; 
    border: 5px solid rgb(255, 255, 255); 
    margin-left: -5px; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.294118) 0 1px 4px; 
    box-shadow: rgba(0, 0, 0, 0.294118) 0 1px 4px; 
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
    margin-top: 44px;}

.cap1 > div {
    opacity: 0.85;
    filter:alpha(opacity=85);
    opacity: 0.85; 
    background-color: rgb(212, 173, 0);  
}

.cap2 > div {
    opacity: 0.85;
    filter:alpha(opacity=85);
    opacity: 0.85; 
    background-color: rgb(212, 173, 0);  }

.cap3 > div {opacity: 0.85;filter:alpha(opacity=85);opacity: 0.85;filter:alpha(opacity=85);}

.cap4 > div {opacity: 0.85;filter:alpha(opacity=85);opacity: 0.85;filter:alpha(opacity=85);}

.cap5 > div {opacity: 0.85;filter:alpha(opacity=85);opacity: 0.85;filter:alpha(opacity=85);}

h1 {
    font-family: 'lars', sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 40px; 
    line-height: 65px; 
    margin-top: 0; 
    color: rgb(0, 0, 0);
}

.page-content {
    line-height: 1.5; 
    font-family: 'lars', sans-serif;
}

.page-content a {
    position: relative;
    cursor: pointer;
    color: #333333; 
    font-family: 'Muli', sans-serif;
}


.span6 {
    margin-left: 0px;
}
/*newsletters panel*/
.sidebox {
    background-color: #F4F8F9;
    color:rgb(51, 51, 51);
    padding: 18px 30px;
    margin-top:30px;
    margin-bottom: 40px;
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#sidebox {
    text-transform: none;
    background-color: #F4F8F9;
    color: #333333;
    padding: 18px 30px;
    margin-top:30px;
    margin-bottom: 30px;
    font-size: 1.0em;
    text-align: justify;
    transition: 0.3s;
}

#sidebox a:hover {
    color: #A0C1CD;
    text-decoration: none; 
}

.sidebar {
    margin-right: 5% !important;
}

.sidebox-title {
    line-height: 40px; 
    font-weight: normal; 
    font-style: normal; 
    font-family: 'lars', sans-serif; 
    color: rgb(51, 51, 51);
}

.sidebox a {
    color: #22445F;
    transition: 0.3s;
}

.sidebox a:hover {
    color: #A0C1CD;
    text-decoration: none; 
}


/* main image */
#decorative1 {
    margin: auto;
    position: relative; 
    background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url(montreal.jpg);
    background-size: 100% auto;
    -webkit-background-size: cover; 
    max-height: 510px;
    width: 80%;
    border-radius: 30px;
    text-align: center;
    background-position: 50% 50%; 
    background-repeat: no-repeat no-repeat;
}

@media (max-width: 479px) {
    #decorative1 {
        max-height: 470px;
        width: 95%;
    }
}
#decorative2 {
    background-color: #ffffff; 
    height: 85px; 
    text-decoration: none;}

#divFooter{
    font-family: 'Muli', sans-serif; 
    background-color: #A0C1CD; 
    color: #fff;
    padding-top: 0px; 
    line-height: 22px; 
    font-size: 12px; 
    text-transform: none; 
    background-image: none;
    background-repeat: repeat repeat;
}

#divFooter a{
    color: #fff;
}

#divFooter h3{
    color: #fff;
}

h2 {
    font-weight: 600; 
    font-style: normal; 
    font-family: 'Muli', sans-serif;
    font-size: 35px; 
    line-height: 45px;
    color: #22445F;
   
}

.breadcrumbs {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 11px;
    margin: 0px 0px 15px 10px;
    text-transform: uppercase;
    font-size: 600;
}

.breadcrumbs a {
    color: #22445F;
    font-family: 'Muli', sans-serif;
    transition: 0.3s;
    text-transform: uppercase;

    
}
.breadcrumbs a:hover {
    text-decoration: none;
    color: #A0C1CD; 

}


/* main header text (PULS) */
#divHeaderLine1{
    font-family: 'Lexend Deca', sans-serif;
	font-weight: 800;
    text-align: left;
	word-spacing: 10px;
    line-height: 68px;
	margin: 10px auto 20px 20px;
	color: #ffffff;
	font-size: 84px;
	opacity: 1;
	padding: 3px 10px;
}

#divHeaderLine2 {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1px;
	margin-top: 11px;
    font-family: 'Muli', sans-serif;	
    color: rgb(255, 255, 255);
	text-shadow: none;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	background-color: rgb(0, 0, 0);
	opacity: 0.9;
	padding: 3px 10px;
	background-position: initial initial;
	background-repeat: initial initial;}

#divHeaderLine3{
    margin-top: 18px; 
    color: rgb(0, 0, 0); 
    text-align: center; 
    line-height: 16px; 
    text-transform: none; 
    font-size: 15px;}

#abouthead {
    text-align: center;	
}
/*welcome div*/
#divMain {
	font-family: 'Muli', sans-serif;
}


a.btn, a.btn-large, a.btn-small, a.btn-mini {color:#333}
a.btn-info, a.btn-success, a.btn-warning, a.btn-danger, a.btn-inverse {color:#ffffff}

.btn-secondary, .btn-secondary:hover, a.btn-secondary, a.btn-secondary:hover {color:#323232;}

.btn-secondary {border:1px solid #dfdfdf;border-bottom:1px solid #afafaf;background-color:#fafafa;background-repeat: repeat-x;background-image:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));background-image:-webkit-linear-gradient(top, #fafafa, #e1e1e1);background-image:-moz-linear-gradient(top, #fafafa, #e1e1e1);background-image:-ms-linear-gradient(top, #fafafa, #e1e1e1);background-image:-o-linear-gradient(top, #fafafa, #e1e1e1);background-image:linear-gradient(top, #fafafa, #e1e1e1);filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#e1e1e1, GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {background-color:#dfdfdf;}

.btn-primary, .btn-primary:hover, a.btn-primary, a.btn-primary:hover {
    color:#22445F;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.btn-primary {
    border:0px solid #FCFAFB;
  
    background-color:#fff;
    background-repeat: repeat-x;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#FCFAFB), to(#FCFAFB));
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {background-color:#FCFAFB;}

#divHeaderText {
    padding-top: 200px; 
    padding-bottom: 0; 
    border-color: rgb(51, 51, 51); 
    text-align: center;
    font-family: 'Muli', sans-serif;
}

#decorative1 {-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}

#contentOuterSeparator{margin-top: 0; border-top-color: rgb(255, 255, 255); border-top-width: 0; border-top-style: solid; margin-bottom: 25px; height: 0; background-color: transparent;}

#footerOuterSeparator{margin-top: 55px; border-top-width: 0; border-top-style: solid; border-top-color: rgb(95, 95, 95);}

#headerSeparator{margin-top: 7px; border-top-color: rgb(51, 51, 51); border-top-width: 0; border-top-style: solid;}

h3, .page-content h3 a {
    font-family: 'Muli', sans-serif; 
}

h4,.page-content h4 a {
    font-weight: normal; 
    font-style: normal; 
    font-family: 'Muli', sans-serif; 
    font-size: 21px; 
    line-height: 45px;}

h5,.page-content h5 a {font-weight: normal; font-style: normal; font-family: 'lars', sans-serif;  line-height: 45px;}

h6,.page-content h6 a {font-weight: normal; font-style: normal; font-family: 'lars', sans-serif; font-size: 15px; line-height: 45px;}

.line-separator{
    border-top-width: 1px; 
    border-top-style: solid; 
    margin-top: 21px; 
    margin-bottom: 21px; 
    border-top-color: rgb(234, 234, 234); 
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
}

#headerSeparator2{
    margin-top: 45px; 
    margin-bottom: 18px; }





/* DROOOOOOPDOWNNNNNN */

.nav .dropdown-toggle .caret {
    border-top-color:rgb(0, 0, 0);
    border-bottom-color:rgb(0, 0, 0);
}

.nav .dropdown-toggle:hover .caret {
  
}

/*tiny margin on top and bottom of the dropdown menu*/
.navbar .dropdown-menu, .dropdown-menu {
    background-color: #ffffff; 
    border:none;
    box-shadow: 0 7px 20px #dddddd;
}

/* colour of dropdown menu background */
.navbar .dropdown-menu li > a, .dropdown-menu li > a, .navbar .nav-pills .open .dropdown-toggle {
    background-color:#ffffff;
    font-family: 'Muli', sans-serif;
    letter-spacing: none;
}

/* structure of navbar options*/
.navbar .nav-pills > li > a {
    font-family: 'Muli', sans-serif;
    margin-left: 2px; 
    margin-left: 10px; 
    margin-top: 30px;
    padding: 10px; 
    border-radius: 4px;
    color: #FAFAFA; 
    border-bottom-style: none;
    cursor:pointer;
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle {
    background:none;
}



/*margin to the right side of navbar */
.navbar .ddmenu {
    margin-top:-2px;
    margin-bottom:0;

}

/* down arrow on navbar options*/
.navbar .nav-pills li.dropdown > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #ffffff;
    border-bottom-color: #333333;
}

.navbar .nav-pills li.dropdown > .dropdown-toggle:hover .caret {
    border-top-color: #333333;
    border-bottom-color:rgb(255, 255, 255);
}

.navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret {
    border-top-color: #333333;
    border-bottom-color:rgb(255, 255, 255);
}

.dropdown-menu .sub-menu {
    left:100%;
    position:absolute;
    top:0;
    visibility:;
    margin-top:-1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility:visible;
}

/* About/academics/services/contact text on navbar */
.ddmenu.nav-pills li a {
    text-transform: uppercase;
    font-family: 'Muli', sans-serif; 
    color: #333333;
    letter-spacing: 0.1em;
    font-weight: 00;
    font-size: 12px; 
    text-shadow: none; 
    line-height: 15px;
}

/* About/academics/services/contact text on navbar ON HOVER */
.navbar .nav-pills > li > a:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar .nav-pills > li > a:focus {
    color: #22445F; 
    font-weight: 400;
    text-transform: uppercase;
    background-color: #FCFAFB; 
    border-bottom-style: none;
}

/* text of dropdown options */
.ddmenu .dropdown-menu li a {
    line-height: 29px; 
    font-size: 14px; 
    font-weight: 400;
    letter-spacing: 1.0 !important;
    font-family: 'Muli', sans-serif;
    text-transform: capitalize;
}

/* text of dropdown options ON HOVER */
.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu .active > a, .navbar .dropdown-menu .active > a:hover, .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .navbar .nav-pills .open a.dropdown-toggle:hover {
    color:#ffffff;
    background-color:#ffffff;
    box-shadow: none;
}

#decorative2 {position:fixed;top:0;left:0;right:0;z-index:1032; text-decoration: none;}

body {
    padding-top: 70px;
}

/* text for welcome message */
.lead h2 {
    font-size: 35px; 
    line-height: 57px; 
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1.0px;
    color: #233340 !important;
    letter-spacing: 1.0;
}


.lead h3 {
    font-size: 20px;
    color: #95A0A4;
    line-height: 31px;
    width: 40%;
    margin-bottom: 100px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1.0;
    font-weight: 300;
}

.block1 {
    text-align: left;
    display: inline-block;
    width: 53%;
    margin: 20px 0px 50px 10% ;
    animation-name: fade-up-left;
    animation-duration: 3.4s;
    
    
}
@media (max-width: 479px) { 
    .block1 {
        width: 85% !important;
        animation-duration: 1s;
    }
    
    .block2 {
        margin: 5% 0px 0px 10% !important;
        width: 85% !important;
        animation-duration: 1.5s !important;
    }
  
}



.block2 {
    width: 50%;
    margin: 0px 0px 50px 40%;
    animation-name: fade-up-up;
    animation-duration: 3.9s;
    background-color: #F4F8F9;
    padding: 28px 48px;
    border-radius: 30px;

}
.quote {
    font-style: italic;
    line-height: 31px;
    font-size: 15px;
    font-family: 'muli', sans-serif;
    max-width: 100%;
}

.quoteauthor {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.2em;
    font-weight: 800;
    color: #22445F;
    margin: 20px 0px 10px 0px;
    font-family: 'Lexend Deca', sans-serif;
}
.dropdown-menu .sub-menu {                  
    left:100%;
    position:absolute;
    top:0;
    visibility:;
    margin-top:-1px;
}
.dropdown-menu li:hover .sub-menu {
    visibility:visible;
}
.navbar .btn-navbar-highlight {
    display:none;
    width:100%;
}

#decorative2 {
    z-index:100 !important
}

@media (max-width: 979px) {
    
     #divLogo {
         margin-bottom:10px;
    }
    
    .navbar .btn-navbar-highlight {
        display:inline;
        padding:9px 14px;
        margin-top:15px;
    }
    
    .navbar {
        width:100%;
    }

    #divMenuRight {
        float:none
    }

    .dropdown-menu .sub-menu {
        left:0%;
        position:relative;
        top:0;
        visibility:visible;
        margin-top:3px;
    }

    .dropdown-menu, .sub-menu {
        border-radius:5px !important;
    }

    .navbar .ddmenu {
        margin-top: 0;
        margin-bottom: 0;
    }

  
    #divHeaderLine1 {
        font-size: 50px;
    }

    /* Fixed Top */

    #decorative2 {
        position:static;  
        height:auto;
    }

    body {
        padding-top:0
    }
}


@media (max-width: 767px) {    
    #divLogo {
        margin-top:10px;
        margin-bottom:10px;
    }

    #divSiteTitle {
        font-size: 25px;
    }
    

    #divHeaderText {
        margin: 0;
        padding:10px 0;
    }
    
    #divMenuRight {
        width:100%;
        margin-top: 0;
        padding-top:0
    }

    .ddmenu, .navbar .ddmenu {
        margin-top: 0; 
        margin-bottom: 0;
    }

    .navbar .btn-navbar-highlight {
        padding:9px 14px;
        margin-top:0;
    }

    .navbar {
        width:100%;
        margin-top: 0;
        padding-top:0
    }
    
    #decorative1 {
        margin: auto;
    }
    /* Fixed Top */

    #decorative2 {position:static}

    body {padding-top:0}
    
    #divFooter {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}
    
    #divBoxed > #divFooter {margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
    
    body > #footerOuterSeparator, body > #contentOuterSeparator {margin-left:-20px;margin-right:-20px;}

    .headerArea, .topArea {padding:20px !important;}
 /*only for templates without divBoxed*/

    #camera_wrap {margin-top:20px}

    #divVideo {margin-top:20px}
    
    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:none;}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0;margin-bottom: 0;}
}

/*MEDIA RESPONSIVENESS*/

@media (max-width: 479px) {    
    #divLogo {margin-top:10px;margin-bottom:10px;}

    #divSiteTitle {font-size: 25px;}
  
    #divHeaderText {
        margin:0;
    }
   
    #divHeaderLine1 {
        font-size: 65px; 
        line-height: 1em;
        margin: 2.5em 0px 0px 0px !important;
    }
    
    
    
    .meetbutton::after {
        content: none !important;
    }
    
    #divMenuRight {width:100%;margin-top: 0;padding-top:0}

    .ddmenu, .navbar .ddmenu {margin-top: 0; margin-bottom: 0;}

    .navbar .btn-navbar-highlight {padding:9px 14px;margin-top:0;}

    .navbar {width:100%;margin-top: 0;padding-top:0}
    
    
    /* Fixed Top */

    #decorative2 {position:static}

    body {padding-top:0}

    
    #divFooter {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}
    
    #divBoxed > #divFooter {margin-left:0;margin-right:0;padding-left:0;padding-right:0;}

    
    body > #footerOuterSeparator, body > #contentOuterSeparator {margin-left:-20px;margin-right:-20px;}

    
    .headerArea, .topArea {padding:20px !important;}
 /*only for templates without divBoxed*/

    
    #camera_wrap {margin-top:20px}

    #divVideo {margin-top:20px}

    
    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:block}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0;margin-bottom: 0;}

}

container.a{text-decoration: underline;}

*{
	font-style: normal;
    font-family: 'Muli', sans-serif;	
	}

.toc {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}
.anchor {
    display:block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.officehours {
    margin-left: 10%;
    text-align: justify;
}

.office {
    width: 90%;
    max-width: 90%;
    background-color: #F4F8F9;
    padding: 50px 30px;
    text-align: center;
    border-collapse: separate !important;
    border: 10px solid #F4F8F9;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    overflow: auto;
}
.officetext {
    max-width: 90%;
    margin: auto;
}

.otd {
    width: 150px;
    font-size: 15px;
    text-transform: none;
    border-radius: 30px;
    margin: 20px;
    padding-top: 7px;
    padding-bottom: 0;
    color: #333333; 
    font-weight: 400;
    transition: 0.3s;
}

.otd:hover {
    cursor: pointer;
    border-radius: 100px;
    color: #203137; 
    font-weight: 400;
    text-transform: none;
    background-color: #22445F; 
    box-shadow: 0 5px 14px #C7D5D8;
    position: relative;
    z-index: 1;
}

.oth {
    width: 120px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-top: 40px;
    padding-bottom: 10px;
    border-radius: 30px;
    font-family: 'Lexend Deca', sans-serif;
}

.otr, .otd {
    text-align: center !important;
}

.navbarlogo {
    width: 90px;
    margin-left: 10px;
}

.lead .welcome {
    display: block;
    height: auto;
    float: left;
    
}

.line2 h3{
    display: none;
}

.fblink {
    transition: 0.3s;
}
.fblink:hover {
    text-decoration: none;
    color: #ffffff; 
    background-color: #22445F;

}



.text {
    font-family: 'Muli', sans-serif;
    font-size: 15px; 
    color: #4D4D5A;
    line-height: 29px;
    margin: 20px 0px;
    text-rendering: optimizeLegibility;
    font-weight: 400;

}
.text a {
    font-size: 15px;
    color: #22445F;
    font-weight: 400;
    transition: 0.4s;
}

.text a:hover {
    color: #A0C1CD;
    text-decoration: none; 
}

.meetbutton {
    text-decoration: none;
    transition: 0.3s filter;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.2em;
    font-weight: 600;
    color: #22445F !important;
    margin: 30px 0px 70px 0px;
    font-family: 'Lexend Deca', sans-serif !important;
}

.meetbutton:hover {
    text-decoration: none;

}

.meetbutton:hover::after {
        width: 100%;
    }

.meetbutton:after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -7px;
    background: #22445F;
    width: 35px;
    border-radius: 10%;
    transition: 0.3s width;
}
.role {
    text-transform: uppercase;
    font-size: 12px !important;
    padding-top: 3px;
    padding-bottom: 12px;
    color: #A0C1CD;
    transition: 0.3s;
}

.tbd {
    padding-top: 0;
    color: #417080;
}

/*makes the role turn white on hover (not the div)*/
.office p:hover {
    color: #ffffff;
}
.time {
    color: #22445F;
    width: 150px;
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 700;
}

.table-wrapper {
    position:relative;
    border-radius: 30px;
}

.table-scroll {
    border-radius: 30px;
    width: 100%;
    overflow: auto;  
    margin-top: 20px;
}

.table-wrapper table {
    width:100%;
}  


/*newspost*/
.newspost {
    position: relative;
    max-width: 80%;
    margin: auto;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #F4F8F9;
    border-radius: 30px;
    font-weight: 400;
}

.newspost .newsheader {
    text-align: center;
    color: #22445F;
    letter-spacing: 1.0;
    font-family: 'Lexend Deca', sans-serif;

}

.postrow {
    width: 80%;
}
.newspost .left {
    margin-top: 60px;
    display: inline-block;
    color: #ffffff;
}

 .right {
    margin-top: 50px;
    color: #22445F;
    padding-left: 0;
    width: 50%

}
.right h3 {
    margin: 5px 0px 10px 0px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;

}
.date {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    display: inline-block;
    border-bottom: 1.5px solid #A0C1CD;
    color: #A0C1CD;
    margin: 0px 4em 5px 7em;
    max-height: 30px;
}

.postrow {
    margin-left: 0;
    padding: 0 20px;
    display: flex;
}

.newspost .post .content {
    font-family: 'Muli', sans-serif;
    font-size: 14px; 
    letter-spacing: 0.5px;
    margin: 0px;
    width: 90%;
}

.newsphoto {
    max-width: 50px;
}


@media (max-width:479px) {
    .date {
        display: block;
        margin: 0px !important;
    }
    .newspost {
        max-width: 90%;
        
    }
    
    .postrow {
        display: block;
        width: 90% !important;
    }
    .right {
        width: 100% !important;
    }
    
    .right h3 {
        margin-top: 0px;
    }
    
    .content {
        width: 100% !important;
    }
}

.imgmark {
    max-height: 50px;
    position: absolute;
    transform: translate(300px, -20px);
}

.footertable {
    width: 100%;
    margin: 50px 0px 70px 8%;
}
.footerhead {
    font-family: 'Lexend Deca', sans-serif;
    width: 25%;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5.0px;
    margin: 75px 0px 50px 0px;
    text-align: left;
    font-weight: 400;
    padding: 30px 0px 15px 0px;
}

.footercell {
    background-color: #A0C1CD;
    border-color: #A0C1CD;
    font-size: 13px;
    vertical-align: top;
    font-weight: 400;
}

.footercell a {
    color: #22445F !important;
    transition: 0.5s;
    text-decoration: none;

}

.footercell a:hover {
    color: #fff !important;
}

.footerhead2 {
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;

}
.footercontent {
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    margin-top: 15px;
    font-weight: 400;
}

.footercontent a {
    color: #22445F !important;
    transition: 0.5s;
    text-decoration: none;

}

.footercontent a:hover {
    color: #fff !important;
}

    
@media (min-width: 479px) and (max-width: 700px) {
    .footerhead {
        font-size: 11px;
    }
    .footercell {
        border: 0.1px solid #A0C1CD;
        font-size: 10px;
    }
    
    .footertable {
        margin-left: 0px;
    }
    
}

@media (max-width: 479px){
    .footerhead {
        font-size: 11px;
    }
    .footercell {
        border: 0.1px solid #A0C1CD;
        font-size: 10px;
    }
    
    .footertable {
        margin-left: 0px;
        max-width: 100% !important;
    }
    
}
.line1 { 
    font-family: 'Lexend Deca', sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    width: 100%;
}

.line1header {
    margin: 30px;
    
}
@media (min-width: 768px) and (max-width: 991px) {
    width: 700px;
}

.span6 {
    margin-left: 60px;
}
.bigimg {
    padding: none;
    margin: 15px 0px;
    border-radius: 30px;
    max-height: 450px;
    width: 100%;
    object-fit: none;
    object-position: center;
}

#bigimg {
    padding: none;
    margin: 15px 0px;
    width: 100%;
    border-radius: 30px;
    filter:brightness(90%);
}

.noresize {
    object-fit: contain !important;
}
.profileimg {
    padding: none;
    margin: 0px 0px 20px 15px;
    max-width: 100%;
    border-radius: 30px;

}

@media (max-width: 479px) {
    .profileimg .bigimg {
        width: 85%;
        margin-left: 10% !important;
    }
    
    .blurb {
        padding: 4% 6% !important;
        margin-left: 5% !important;
        max-width: 90% !important;
    }
    
    .memberright {
        max-width: 90% !important;
    }
    .bigimg {
        margin-left: 2% !important;
    }   
}
.membername {
    font-family: 'Muli', sans-serif;
    font-size: 35px;
    font-weight: 600;
    display: inline;
}

.memberrole {
    background-color: #F4F8F9;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 9px;
    color: #A0C1CD;
    transition: 0.3s;
    letter-spacing: 2px;
    border-radius: 8px;
    margin: 10px 0px 16px 0px;
    
}
.member {
    text-align: left;
    margin: 50px auto;
}

.memberright {
    line-height: 25px;
}

.memberwords {
    margin-left: 50px !important;
    width: 100%;
}

.blurb {
    display: inline-block;
    max-width: 90%;
    margin: 15px 0px 0px 10px;
    background-color: #F4F8F9;
    padding: 30px 50px;
    text-align: justify;
    border-radius: 30px;
    line-height: 25px;
}

.abouthead {
    text-align: left;
}

.ctabox {
    text-align: center;
    font-family: 'Muli', sans-serif;

}

.classes {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #F4F8F9;
}

.coursecode {
    text-align: left;
    padding: 20px 20px 20px 30px;
    vertical-align: top;

}

.coursecode a {
    color: #22445F;
    font-family: 'Muli', sans-serif;
    transition: 0.3s;
    font-weight: 400;
    
}
.coursecode a:hover {
    text-decoration: none;
    color: #A0C1CD; 


}
.coursecell {
    padding: 20px 30px 20px 0px;
    vertical-align: top;
}

.courseheader {
    text-align: center;
}

.generallink {
    color: #22445F !important;
    transition: 0.5s;
    text-decoration: none;
}

.pastcouncil {
    line-height: 1.9;
    padding-left: 25px;
    padding-bottom: 70px;
}

.pastcouncilhead {
    font-family: 'Lexend Deca', sans-serif;
    margin: 30px 0px 0px 30px;
}

.pagetitle {
    font-family: 'Muli', sans-serif;
    font-size: 35px;
}

.imgcontainer {
    position: relative;
    text-align: center;
    color: white;
}

.textoverimg {
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    z-index: 1;
    font-size: 85px;
    border: 0px solid #000;
    font-weight: 600;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 0.9em;
    margin-top: 25%;
    letter-spacing: 2.9px;
}

#textoverimg {
    color: #fff;
    z-index: 1;
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    font-size: 75px;
    border: 0px solid #000;
    font-weight: 600;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 0.9em;
    margin-top: 13%;
    letter-spacing: 2.9px;
}
.textoverimgdark {
    z-index: 1;
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    font-size: 85px;
    border: 0px solid #000;
    font-weight: 600;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 0.9em;
    margin-top: 25%;
    letter-spacing: 2.9px;
    color: #22445F;
}

.blocktext {
    margin-left: 0px !important;
    text-align: justify;
    animation-duration: 1.0s !important;
    font-family: 'Muli', sans-serif;
    font-size: 14px; 
    color: #4D4D5A;
    line-height: 25px;
    text-rendering: optimizeLegibility;
    font-weight: 400;

}

.blocktext2 {
    text-align: justify;
    animation-duration: 2s;
    font-family: 'Muli', sans-serif;
    font-size: 14px; 
    color: #4D4D5A;
    line-height: 25px;
    text-rendering: optimizeLegibility;
    font-weight: 400;

}
.blocktext a {
    font-size: 13px;
    color: #22445F;
    font-weight: 400;
    transition: 0.4s;
}

.blocktext a:hover {
    color: #A0C1CD;
    text-decoration: none; 
}
.blueh1 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: 800;
    color: #22445F;
    margin: 10px 0px 15px 0px;
    font-family: 'Lexend Deca', sans-serif;
}

.tablename {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 35px;
    color: #22445F;
    font-weight:700;
    text-align: center;
    margin: 50px 0px 40px 0px;
}

#tablename {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 35px;
    color: #22445F;
    font-weight:700;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.smalltitle {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 23px;
    color: #000;
    font-weight:700;
    text-align: center;
    margin: 50px 0px 20px 0px;
}

#smalltitle {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
    color: #000;
    font-weight:700;
    text-align: left;
    margin: 50px 0px 20px 20px;
}

.bigimglight {
    filter: brightness(75%);
    border-radius: 30px;
}

.block {
    max-width: 60% !important;
    margin-left: 20% !important;
    display: inline-block;
    text-align: justify;
}

.wideblock {
    width: 80% !important;
    max-width: 100% !important;
    margin-left: 30% !important;
    display: inline-block;
    text-align: left;
}
 
#wideblock {
    width: 100% !important;
    max-width: 100% !important;
    display: inline-block;
    text-align: justify;
}

.highlight {
    background-color: #F4F8F9;
    display: table !important;
    width: fit-content;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 9px;
    color: #A0C1CD;
    transition: 0.3s;
    letter-spacing: 2px;
    border-radius: 8px;
    margin: auto;
    text-align: center;
}
/*

.lead .welcome .line1 {
    display: block;
    float: left;
}
.lead .welcome .line2 {
    display: block;
    float: left;

}
/*
.welcomecont {
    width: 100%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}

.lead .list_carousel responsive {
    display: inline-block;
    margin-left: 15%;
    height: 200px;
    background: black;
}
*/

