/***** BASE CSS *****/

@font-face {
    src: url(Fonts/larsseit.ttf);
    font-family: 'lars';
}
@import "compass/css3";

/* Site Name */

#divSiteTitle {text-decoration:none;}
#divTagLine {text-decoration:none;}


/* Headline Text */
#divHeaderLine1 {
}
#divHeaderLine2 {
    display:inline-block !important
}
#divHeaderLine3 {
    display:inline-block !important
}


/* Headings */
h3, h4, h5, h6 {
    line-height:1.5 !important
}
.lead {
    text-align:left;
}
.lead h2 {
    font-size: 25px;
    line-height:45px;
}

.lead h3 {
}

.lead h3 a {
    font-size: inherit;
}


/* Contact */f

ul#contact-info .icon {font-size:20px;float:left;line-height:25px;margin-right:10px;}

ul#contact-info .field {font-weight:bold;}

ul#contact-info {list-style:none;}


/* Grid */

#tiles li {
width:240px !important;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 10px !important;
margin-right:7px;margin-bottom:7px;float:left;
}

#tiles li img {margin-bottom:10px;}

#tiles li div.meta {color:#999;text-transform:uppercase;font-size:10px;margin:0;}

#tiles li h4 {line-height:1.5;margin:0 0 5px 0;}

#tiles li h4 a {
    line-height:inherit;
    margin: 0;
    text-decoration:inherit;
    color:inherit;
    font-size:inherit;
    font-family: 'Lato', sans-serif;
    font-weight:inherit;
    font-style:inherit;
}

#tiles li p {font-size:12px;line-height:1.5;margin:0;}

#tiles li a {font-size:12px;}

#tiles li .more_link {font-size:smaller;line-height:2;text-transform:uppercase;letter-spacing:2px;white-space:nowrap;display:block;margin: 5px 0 0 0;}

#tiles li blockquote {
    line-height:1.5;
    margin:0;
    padding:0;
    color:#999;
    border:none;
    font-size:150%;
    font-style:italic;
    font-family:Georgia, Times, serif;
}

#tiles li blockquote small {
    font-size:11px;
    font-style:normal;}


/* Icons */

[class*="social foundicon-"]:before {font-family: "SocialFoundicons";}

[class*="general foundicon-"]:before {font-family: "GeneralFoundicons";}

        
/* Menu Side */

.menu_menu_simple ul {margin-top:0px;margin-bottom:0px;}

.menu_menu_simple ul li {margin-top:0px;margin-bottom:0px;}


/* Header Area */

#decorative1 {
margin-top:-2px;padding-top:2px;
}


/* Menu Centered */

.centered_menu {text-align:center}
.centered_menu > div {display:inline-block;}
.centered_menu div {text-align:left}


/* Footer elements */

.social-bookmarks a {
    
}

.copyright {
    font-size:smaller;
    letter-spacing:1px;
}


/* Responsive Image */

img {
    max-width:100%;
    height:auto;
    width: auto;
    margin-left: 10px;
    box-sizing:border-box;
}

.cphoto {
    max-width: 340px !important;
    width: 340px;
    padding: 16px !important;
    box-shadow: -1px 7px 20px #dddddd;
    margin: 0px;
    text-align: center;
    margin-left: 0;
    border: 0px;
    max-height: 250px !important;
    height: 250px;
    border-radius: 40px;
}

#list_photos {
    width: 344px;
}

.caption {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-align: center;
    max-width: 330px;
    margin-top: 4px;
}

/* Responsive Video from Zurb Foundation. Copyright (c) 2011 ZURB, http://www.zurb.com/ License: MIT */
.flex-video {position:relative;padding-top:25px;padding-bottom:67.5%;height:0;margin-bottom:16px;overflow: hidden;}
.flex-video.widescreen {padding-bottom:57.25%;}
.flex-video.vimeo {padding-top:0;}
.flex-video iframe, .flex-video object, .flex-video embed {position:absolute;top:0;left:0;width:100%;height:100%;border:none;}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
        .flex-video { padding-top: 0; }
    }

    
/* Additional */
    
#divBoxed {position:relative}
 
.nav-links > a {margin-right:20px;}

.btn-secondary, .btn-secondary:hover {text-shadow:none;}

#divHeaderLine1 a, #divHeaderLine2 a, #divHeaderLine3 a {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-shadow: inherit;
    font-weight: inherit;
    font-style: inherit;
}

#divHeaderLine1, #divHeaderLine2, #divHeaderLine3 {
    padding-top:3px !important;
    padding-bottom:3px !important;
    text-align:inherit;
}

#decorative2 {/*opacity:0.95;*/
}

.showcase-tabs > li > a {
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.cap1 div, .cap2 div, .cap3 div, .cap4 div, .cap5 div {
    margin: 0 -1px;
}

.camera_wrap .camera_pag .camera_pag_ul li {margin:20px 5px 0px !important;
}


/* Adjustments */

.search.adjust {margin-bottom:15px}
      
.divPanel {}

.divPanel.notop {padding-top:0px}

.divPanel.nobottom {padding-bottom:0px}


/***** BOOTSTRAP CSS BASE OVERRIDE *****/

.navbar .nav-pills > li > a {text-shadow:none;font-weight:normal;}

.navbar .dropdown-menu li > a {text-shadow:none;font-weight:normal;}

.navbar .nav-pills > li > .dropdown-menu:before {border:none;}

.navbar .nav-pills > li > .dropdown-menu:after {border:none;}

.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills > .active > a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .nav-pills > li > a:hover, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle {-webkit-transition: ease-in-out .2s;-moz-transition: ease-in-out .2s;-o-transition: ease-in-out .2s;-ms-transition: ease-in-out .2s; transition: ease-in-out .2s;}

.navbar .nav-pills .open .dropdown-toggle {background-color:transparent;}

.btn .caret {margin-top: 8px !important;}



body{background-image: none; background-position: initial initial; background-repeat: initial initial; }

#divLogo{margin-top: 9px; margin-bottom: 0px; margin-left: -3px;}

#divSiteTitle{
    font-family: 'Lato', sans-serif; 
    color: #ffffff; font-size: 28px; 
    text-shadow: rgba(0, 0, 0, 0.2) 2px 5px 9px, rgba(255, 255, 255, 0.298039) 0px -5px 35px; 
    line-height: 42px; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    font-weight: normal; 
    font-style: normal; 
    padding-left: 0px; 
    padding-right: 0px;}

#divTagLine {
    font-family: 'lars', sans-serif; 
    font-size: 12px; 
    text-transform: uppercase; 
    letter-spacing: 5px; 
    line-height: 22px; 
    color: rgb(255, 255, 255); 
    text-shadow: none; 
    padding-left: 3px; 
    padding-right: 3px; 
    font-weight: normal; 
    font-style: normal;}

.navContainer {
    margin-top: 0px; 
}

.navContainer .navMenu {
    
}

.navContainer .navMenu li {
    background-color: rgb(245, 245, 245); 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
}

.navContainer .navMenu li a {}

.navContainer .navMenu li.current {
    background-color: rgb(174, 0, 0); 
}

.navContainer .navMenu li.current a {}

.camera_caption > div {
    opacity: 0.85;
    filter:alpha(opacity=85);
    opacity: 0.85;
    filter:alpha(opacity=85);
}

.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
    opacity: 0.85;
    filter:alpha(opacity=85);
    opacity: 0.85;
    filter:alpha(opacity=85);
}

.camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li:hover > span {box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent >  {}

.camera_wrap {
    display: block; 
    margin-bottom: 15px; 
    height: 410px; 
    border: 5px solid rgb(255, 255, 255); 
    margin-left: -5px; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.294118) 0px 1px 4px; 
    box-shadow: rgba(0, 0, 0, 0.294118) 0px 1px 4px; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    margin-top: 44px;}

.cap1 > div {
    opacity: 0.85;
    filter:alpha(opacity=85);
    opacity: 0.85; 
    background-color: rgb(212, 173, 0);  
}

.cap2 > div {
    opacity: 0.85;
    filter:alpha(opacity=85);
    opacity: 0.85; 
    background-color: rgb(212, 173, 0);  }

.cap3 > div {opacity: 0.85;filter:alpha(opacity=85);opacity: 0.85;filter:alpha(opacity=85);}

.cap4 > div {opacity: 0.85;filter:alpha(opacity=85);opacity: 0.85;filter:alpha(opacity=85);}

.cap5 > div {opacity: 0.85;filter:alpha(opacity=85);opacity: 0.85;filter:alpha(opacity=85);}

h1 {
    font-family: 'lars', sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 40px; 
    line-height: 65px; 
    margin-top: 0px; 
    color: rgb(0, 0, 0);
}

.page-content {
    line-height: 25px; 
    font-family: 'lars', sans-serif;
}

.page-content a {
    position: relative;
    cursor: pointer;
    color: #333333; 
    font-family: 'Lato', sans-serif;
}


/*newsletters panel*/
.sidebox {
    -webkit-box-shadow:rgba(0, 0, 0, 0.298039) 0px 1px 3px;
    -moz-box-shadow:rgba(0, 0, 0, 0.298039) 0px 1px 3px;
    box-shadow:rgba(0, 0, 0, 0.298039) 0px 1px 3px;
    background-color:rgb(250, 250, 250);color:rgb(51, 51, 51);
    border-width:1px;
    border-style:solid;
    border-color:rgb(255, 255, 255);
    border-radius:3px;
    padding:18px;
    margin-top:28px;}

.sidebar {
    
}

.sidebox-title {
    line-height: 40px; 
    font-weight: normal; 
    font-style: normal; 
    font-family: 'lars', sans-serif; 
    color: rgb(51, 51, 51);
}

.sidebox a {
    color: #800000;
}

/* main image */
#decorative1 {
    margin: auto;
    margin-top: 10px;
    position: relative; 
    background-color: rgb(240, 240, 240); 
    background-image: url(montreal.jpg); 
    background-size: 100% auto;
    -webkit-background-size: cover; 
    max-height: 510px;
    width: 80%;
    border-radius: 30px;
    align: center;
    background-position: 50% 50%; 
    background-repeat: no-repeat no-repeat;
}

#decorative2 {
    background-color: #ffffff; 
    height: 85px; 
    text-decoration: none;}

#divFooter{
    font-family: 'Lato', sans-serif; 
    background-color: #22445F; 
    color: #fff;
    padding-top: 32px; 
    line-height: 22px; 
    font-size: 12px; 
    text-transform: none; 
    background-image: none;
    background-repeat: repeat repeat;
}

#divFooter a{
    color: #fff;
}

#divFooter h3{
    color: #fff;
}

h2 {
    font-weight: 600; 
    font-style: normal; 
    font-family: 'Lato', sans-serif;
    font-size: 35px; 
    line-height: 45px;
    color: #22445F;
}

.breadcrumbs {
    line-height: 80px; 
    font-family: 'Lato', sans-serif;
}

.breadcrumbs a {
    color: #800000; 
    font-family: 'Lato', sans-serif;
}

/* main header text (PULS) */
#divHeaderLine1{
    font-family: 'Lato', sans-serif;
	font-weight: 900;
    text-align: left;
	word-spacing: 10px;
    line-height: 70px;
	margin: 0px auto 20px 20px;
	color: #ffffff;
	font-size: 75px;
	opacity: 1;
	padding: 3px 10px;
}

#divHeaderLine2 {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1px;
	margin-top: 11px;
    font-family: 'Lato', sans-serif;	
    color: rgb(255, 255, 255);
	text-shadow: none;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	background-color: rgb(0, 0, 0);
	opacity: 0.9;
	padding: 3px 10px;
	background-position: initial initial;
	background-repeat: initial initial;}

#divHeaderLine3{
    margin-top: 18px; 
    color: rgb(0, 0, 0); 
    text-align: center; 
    line-height: 16px; 
    text-transform: none; 
    font-size: 15px;}

#abouthead {
    text-align: center;	
}
/*welcome div*/
#divMain {
	font-family: 'Lato', sans-serif;
}


a.btn, a.btn-large, a.btn-small, a.btn-mini {color:#333}
a.btn-info, a.btn-success, a.btn-warning, a.btn-danger, a.btn-inverse {color:#ffffff}

.btn-secondary, .btn-secondary:hover, a.btn-secondary, a.btn-secondary:hover {color:#323232;}

.btn-secondary {border:1px solid #dfdfdf;border-bottom:1px solid #afafaf;background-color:#fafafa;background-repeat: repeat-x;background-image:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));background-image:-webkit-linear-gradient(top, #fafafa, #e1e1e1);background-image:-moz-linear-gradient(top, #fafafa, #e1e1e1);background-image:-ms-linear-gradient(top, #fafafa, #e1e1e1);background-image:-o-linear-gradient(top, #fafafa, #e1e1e1);background-image:linear-gradient(top, #fafafa, #e1e1e1);filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#e1e1e1, GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {background-color:#dfdfdf;}

.btn-primary, .btn-primary:hover, a.btn-primary, a.btn-primary:hover {color:#ffffff;}

.btn-primary {border:1px solid #800000;border-bottom:1px solid #800000;background-color:#800000;background-repeat: repeat-x;background-image:-webkit-gradient(linear, left top, left bottom, from(#800000), to(#800000));background-image:-webkit-linear-gradient(top, #800000, #800000);background-image:-moz-linear-gradient(top, #800000, #800000);background-image:-ms-linear-gradient(top, #800000, #800000);background-image:-o-linear-gradient(top, #800000, #800000);background-image:linear-gradient(top, #800000, #800000);filter: progid:dximagetransform.microsoft.gradient(startColorstr=#800000, endColorstr=#800000, GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {background-color:#800000;}

#divHeaderText {
    padding-top: 200px; 
    padding-bottom: 0px; 
    border-color: rgb(51, 51, 51); 
    text-align: center;
}

#decorative1 {-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}

#contentOuterSeparator{margin-top: 0px; border-top-color: rgb(255, 255, 255); border-top-width: 0px; border-top-style: solid; margin-bottom: 25px; height: 0px; background-color: transparent;}

#footerOuterSeparator{margin-top: 55px; border-top-width: 0px; border-top-style: solid; border-top-color: rgb(95, 95, 95);}

#headerSeparator{margin-top: 7px; border-top-color: rgb(51, 51, 51); border-top-width: 0px; border-top-style: solid;}

h3, .page-content h3 a {
    font-family: 'Lato', sans-serif; 
}

h4,.page-content h4 a {
    font-weight: normal; 
    font-style: normal; 
    font-family: 'Lato', sans-serif; 
    font-size: 21px; 
    line-height: 45px;}

h5,.page-content h5 a {font-weight: normal; font-style: normal; font-family: 'lars', sans-serif;  line-height: 45px;}

h6,.page-content h6 a {font-weight: normal; font-style: normal; font-family: 'lars', sans-serif; font-size: 15px; line-height: 45px;}

.line-separator{
    border-top-width: 1px; 
    border-top-style: solid; 
    margin-top: 21px; 
    margin-bottom: 21px; 
    border-top-color: rgb(234, 234, 234); 
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
}

#headerSeparator2{
    margin-top: 45px; 
    margin-bottom: 18px; }

#divVideo{border: 7px solid rgb(255, 255, 255); margin-left: -5px; -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0px 1px 4px; box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0px 1px 4px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: 36px; }



/* DROOOOOOPDOWNNNNNN */

.nav .dropdown-toggle .caret {
    border-top-color:rgb(0, 0, 0);
    border-bottom-color:rgb(0, 0, 0);
}

.nav .dropdown-toggle:hover .caret {
  
}

/*tiny margin on top and bottom of the dropdown menu*/
.navbar .dropdown-menu, .dropdown-menu {
    background-color: #ffffff; 
    border:none;
    box-shadow: 0px 7px 20px #dddddd;
}

/* colour of dropdown menu background */
.navbar .dropdown-menu li > a, .dropdown-menu li > a, .navbar .nav-pills .open .dropdown-toggle {
    background-color:#ffffff;
    font-family: 'Lato', sans-serif;
    letter-spacing: none;
}

/* structure of navbar options*/
.navbar .nav-pills > li > a {
    font-family: 'Lato', sans-serif;
    margin-left: 2px; 
    margin-right: 20px; 
    margin-top: 30px;
    padding: 10px; 
    border-radius: 4px;
    color: #FAFAFA; 
    border-bottom-style: none;
    cursor:pointer;
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle {
    background:none;
}



/*margin to the right side of navbar */
.navbar .ddmenu {
    margin-top:-2px;
    margin-bottom:0px;

}

/* down arrow on navbar options*/
.navbar .nav-pills li.dropdown > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #ffffff;
    border-bottom-color: #333333;
}

.navbar .nav-pills li.dropdown > .dropdown-toggle:hover .caret {
    border-top-color: #333333;
    border-bottom-color:rgb(255, 255, 255);
}

.navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret {
    border-top-color: #333333;
    border-bottom-color:rgb(255, 255, 255);
}

.dropdown-menu .sub-menu {
    left:100%;
    position:absolute;
    top:0;
    visibility:;
    margin-top:-1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility:visible;
}

/* About/academics/services/contact text on navbar */
.ddmenu.nav-pills li a {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif; 
    color: #333333;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 12px; 
    text-shadow: none; 
    line-height: 15px;
}

/* About/academics/services/contact text on navbar ON HOVER */
.navbar .nav-pills > li > a:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar .nav-pills > li > a:focus {
    color: #417080; 
    font-weight: 400;
    text-transform: uppercase;
    background-color: #FCFAFB; 
    border-bottom-style: none;
}

/* text of dropdown options */
.ddmenu .dropdown-menu li a {
    line-height: 29px; 
    font-size: 14px; 
    font-weight: 400;
    letter-spacing: 1.0px !important;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}

/* text of dropdown options ON HOVER */
.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu .active > a, .navbar .dropdown-menu .active > a:hover, .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .navbar .nav-pills .open a.dropdown-toggle:hover {
    color:#ffffff;
    background-color:#ffffff;
    box-shadow: none;
}

#decorative2 {position:fixed;top:0;left:0;right:0;z-index:1032; text-decoration: none;}

body {padding-top:85px}

/* text for welcome message */
.lead h2 {
    font-size: 35px; 
    line-height: 57px; 
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1.0px;
}


.lead h3 {
    font-size: 20px;
    color: #95A0A4;
    line-height: 31px;
    width: 40%;
    margin-bottom: 100px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1.0px;
    font-weight: 300;
}

.dropdown-menu .sub-menu {                  
    left:100%;
    position:absolute;
    top:0;
    visibility:;
    margin-top:-1px;
}
.dropdown-menu li:hover .sub-menu {
    visibility:visible;
}
.navbar .btn-navbar-highlight {
    display:none;
    width:100%;
}

#decorative2 {
    z-index:100 !important
}

@media (max-width: 979px) {
    
     #divLogo {
         margin-bottom:10px;
    }
    
    .navbar .btn-navbar-highlight {
        display:inline;
        padding:9px 14px;
        margin-top:15px;
    }
    
    .navbar {
        width:100%;
    }

    #divMenuRight {
        float:none
    }

    .dropdown-menu .sub-menu {
        left:0%;
        position:relative;
        top:0;
        visibility:visible;
        margin-top:3px;
        display: ;
    }

    .dropdown-menu, .sub-menu {
        border-radius:5px !important;
    }

    .navbar .ddmenu {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /* Fixed Top */

    #decorative2 {
        position:static;  
        height:auto;
    }

    body {
        padding-top:0px
    }
}


@media (max-width: 767px) {    
    #divLogo {margin-top:10px;margin-bottom:10px;}

    #divSiteTitle {font-size: 25px;}
    
    #divHeaderText {margin:0px;padding:10px 0px;}
   
    #divHeaderLine1 {margin-top: 0px; font-size: 60px;}
    
    #divMenuRight {width:100%;margin-top: 0px;padding-top:0px}

    .ddmenu, .navbar .ddmenu {margin-top: 0px; margin-bottom: 0px;}

    .navbar .btn-navbar-highlight {padding:9px 14px;margin-top:0px;}

    .navbar {width:100%;margin-top: 0px;padding-top:0px}
    
    #decorative1, #decorative2, #decorative3 {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}

    /* Fixed Top */

    #decorative2 {position:static}

    body {padding-top:0px}
    
    #divFooter {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}
    
    #divBoxed > #divFooter {margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;}
    
    body > #footerOuterSeparator, body > #contentOuterSeparator {margin-left:-20px;margin-right:-20px;}

    .headerArea, .topArea {padding:20px !important;}
 /*only for templates without divBoxed*/

    #camera_wrap {margin-top:20px}

    #divVideo {margin-top:20px}
    
    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:none;}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0px;margin-bottom: 0px;}
}

@media (max-width: 479px) {    
    #divLogo {margin-top:10px;margin-bottom:10px;}

    #divSiteTitle {font-size: 25px;}
  
    #divHeaderText {margin:0px;padding:10px 0px;}
   
    #divHeaderLine1 {margin-top: 0px; font-size: 36px; line-height: 60px;}
    
    #divMenuRight {width:100%;margin-top: 0px;padding-top:0px}

    .ddmenu, .navbar .ddmenu {margin-top: 0px; margin-bottom: 0px;}

    .navbar .btn-navbar-highlight {padding:9px 14px;margin-top:0px;}

    .navbar {width:100%;margin-top: 0px;padding-top:0px}
    
    #decorative1, #decorative2, #decorative3 {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}

    
    /* Fixed Top */

    #decorative2 {position:static}

    body {padding-top:0px}

    
    #divFooter {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}
    
    #divBoxed > #divFooter {margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;}

    
    body > #footerOuterSeparator, body > #contentOuterSeparator {margin-left:-20px;margin-right:-20px;}

    
    .headerArea, .topArea {padding:20px !important;}
 /*only for templates without divBoxed*/

    
    #camera_wrap {margin-top:20px}

    #divVideo {margin-top:20px}

    
    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:block}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0px;margin-bottom: 0px;}

}

container.a{text-decoration: underline;}

*{
	font-style: normal;
    font-family: 'Lato', sans-serif;	
	}

.toc {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}
.anchor {
    display:block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.office {
    width: 100%;
    background-color: #F4F8F9;
    padding: 50px 30px;
    text-align: center;
    border-collapse: separate !important;
    border: 30px solid #F4F8F9;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.otd {
    font-size: 15px;
    text-transform: none;
    border-radius: 30px;
    margin: 20px;
    width: 15%;
    padding-top: 7px;
    padding-bottom: 0px;
    color: #333333; 
    font-weight: 400;
    transition: 0.3s;
    
}

.otd:hover {
    cursor: pointer;
    border-radius: 100px;
    color: #203137; 
    font-weight: 400;
    text-transform: none;
    background-color: #417080; 
    box-shadow: 0px 5px 14px #C7D5D8;
    position: relative;
    z-index: 1;
}




.oth {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-top: 40px;
    border-radius: 30px;
}
.otr, .otd {
    text-align: center !important;
}

.navbarlogo {
    width: 90px;
    margin-left: 10px;
}

.lead .welcome {
    display: block;
    height: auto;
    float: left;
}

.line2 h3{
    display: none;
}

.fblink {
    transition: 0.3s;
}
.fblink:hover {
    text-decoration: none;
    color: #ffffff; 
    background-color: #417080;

}



.text {
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
    color: #95A0A4;
    line-height: 31px;
    width: 80%;
    margin: 10px 0px;
    text-rendering: optimizeLegibility;
    font-weight: 400;

}
.text a {
    font-size: 14px;
    color: #417080;
    font-weight: 400;
}

.text a:hover {
    color: #A0C1CD;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;   
}
.role {
    text-transform: uppercase;
    font-size: 12px !important;
    line-height: 10.0px;
    padding-top: 3px;
    padding-bottom: 12px;
    color: #A0C1CD;
    transition: 0.3s;
}

.tbd {
    padding-top: 0px;
    color: #417080;
}

.tbd:hover {
    font-size: 14px;
    text-transform: none;
    border-radius: 30px;
    margin: 20px;
    width: 15%;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #417080; 
    font-weight: 400;
    background-color: none; 
    box-shadow: none;
    cursor: auto;
}

/*makes the role turn white on hover (not the div)*/
.office p:hover {
    color: #ffffff;
}
.time {
    color: #417080;
}





/*newspost*/
.newspost {
    position: relative;
    max-width: 80%;
    margin: auto;
    padding-top: 40px;
    box-sizing: border-box;
    background-color: #F4F8F9;
    border-radius: 30px;
    font-weight: 300;
}

.newspost .newsheader {
    text-align: center;
    color: #22445F;
    letter-spacing: 1.0px;

}
.newspost .left {
    margin-top: 60px;
    display: inline-block;
    float: center;
    width: 20%;
    color: #ffffff;
    max-width: 50%
    
}
.row {
    margin-left: none !important;
}
.newspost .right {
    margin-top: 50px;
    width: 800px;
    max-width: 80%;
    color: #22445F;
    padding-left: 0px;
    transform: translate(-30px, 0px);

}
.right h3 {
    max-width: 60%;   
}
.date {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    display: inline-block;
    float: right;
    margin-bottom: 10px;
    border-bottom: 2px solid #A0C1CD;
    color: #A0C1CD;
}



.newspost .post .content {
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    max-width: 60%;

}

.newsphoto {
    max-width: 50px;
}


hr {
    display: block;
    width: 60%;
    margin: 50px auto 50px auto;
    height: 1px;
    background-color: #417080;
}

h1 {
    
}
.col-6 {
    max-width: 600px;
    line-height: 0px;
}
.col-10 {
        line-height: 0px;

}

.col-md-4, .col-md-8 {
    padding-right: 90px;
}

.imgmark {
    max-height: 50px;
    position: absolute;
    transform: translate(300px, -20px);
}

.footerhead {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2.0px;
    margin: 35px;
    margin-left: 0px;
}

.footerhead2 {
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.footercontent {
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    margin-top: 15px;
}

.footercontent a {
    color: #A0C1CD !important;
    transition: 0.5s;
    text-decoration: none;

}

.footercontent a:hover {
    color: #fff !important;
}
/*
.lead .welcome .line1 {
    display: block;
    float: left;
}
.lead .welcome .line2 {
    display: block;
    float: left;

}
/*
.welcomecont {
    width: 100%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}

.lead .list_carousel responsive {
    display: inline-block;
    margin-left: 15%;
    height: 200px;
    background: black;
}
*/

